<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'sag', :plugin => 'redmine_sag_setic' %>
<% end %>

<h2>Sistema de apoio ao gerenciamento</h2>

<iframe src="http://150.162.9.69/~daniel/lit_npd" >
<p>Your browser does not support iframes.</p>
</iframe>
