<p><label>Tab caption:</label><%= text_field_tag 'settings[tab_caption]', @settings['tab_caption'] %></p>
<p><label>Source URL:</label><%= text_field_tag 'settings[source_url]', @settings['source_url'] %></p>
<p><label>Title:</label><%= text_field_tag 'settings[title]', @settings['title'] %></p>
